<div class="content">
  <header class="common-width">
    <a href="index.html" target="_self"><i class="iconfont">&#xe618;</i>回到主页</a>
    <img src="../img/a1.jpg" alt="">
    <div class="head-m">
      <div class="container">
        <h1>学习方法之联系法</h1>
      </div>
    </div>
  </header>
  <header class="common-width">
    <a href="index.html" target="_self"><i class="iconfont">&#xe618;</i>回到主页</a>
    <img src="../img/a2.jpg" alt="">
    <div class="head-m">
      <div class="container">
        <h1>学习方法之目标法</h1>
      </div>
    </div>
  </header>
  <header class="common-width">
    <a href="index.html" target="_self"><i class="iconfont">&#xe618;</i>回到主页</a>
    <img src="../img/a3.jpg" alt="">
    <div class="head-m">
      <div class="container">
        <h1>学习方法之问题法</h1>
      </div>
    </div>
  </header>
  <section>
    <div class="container">
      <p>唯物辩证法认为世界上任何事物都是同周围的事物存在着相互影响、相互制约的关系。科学知识是对客观事物的正确反映，因此，知识之间同样存在着普遍的联系，我们把联系的观点运用到学习当中，会有助于对科学知识的理解，会起到事半功倍的效果。</p>
      <p> 根据心理学迁移理论，知识的相似性有利于迁移的产生，迁移是一种联系的表现，而联系学习法的实质不能理解为仅仅只是一种迁移。迁移从某种意义上说是自发的，而运用联系学习法的学习是自觉的，是发挥主观能动性的充分体现，它以坚信知识点必然存在联系为首要前提，从而有目的地去回忆、检索大脑中的信息，寻找出它们间的内在联系。当然，原来对知识掌握的广度与深度直接影响到建立知识间联系的数量多少，但我们可以通过辩证思维，通过翻书、查阅、甚至是新的学习，去构建新的知识联系，并使之贮存在我们的大脑之中，使知识网日益扩大。这一点是迁移所不能做到的。</p>
      <p>学习新知识就要想到旧知识，想到自己亲身经历过的事，不能迷信权威，克服定势思维。把抽象的知识具体化，发挥右大脑的作用。如辛亥革命发生在1911年，二次革命发生在1913年，护国战争发生在1915年，护法战争发生在1917年，这四个历史事件依次间隔二年，只要记住这两个历史事件的逻辑顺序，知道其中任何一个事件的年代，就可以联想，推算出其它三个事件的年代。这是联想记忆法。</p>
      <p>读书之法，既先识得他外面一个皮壳，又须识得他里面骨髓方好。——朱熹</p>
    </div>
  </section>
  <section>
    <div class="container">
      <p>掌握目标学习法是美国心理学家布卢姆所倡导的。布卢姆认为只要有最佳的教学，给学生以足够的时间，多数学习者都能取得优良的学习成绩。</p>
      <p>教学内容是由许多知识点构成，由点形成线，由线完成相对独立的知识体系，构成彼此联系的知识网。因此明确目标，就要在上新课时了解本课知识点在知识网中的位置，在复习时着重从宏观中把握微观，注重知识点的联系。另外，要明确知识点的难易程度，应该掌握的层次要求，即识记、理解、应用、分析、综合、评价等不同层次，最重要的就是明确学习重要目标，即知识重点。有了目标能增强我们学习的注意力与学习动机，即为了这目标我必须好好学习。</p>
      <p>可见，明确学习目标是目标学习法的先决条件。目标学习法的核心问题，是必须形成自我测验、自我矫正，自我补救的自我约束习惯。对应教学目标编制形成性检测题，对自己进行检测，并及时地反馈评价，及时矫正和补救。</p>
      <p>学习目标与人生目标不同，它比较具体，可以在短时间内实现。它可以使我们比较容易地享受成功的欢乐。增加我们的信心。因此，目标学习法也是成功教育的主要策略之一，同时，实现学习目标也是实现人生目标的开始，只有使大小、远近目标有机的结合，才会避免一些无效劳动的发生。</p>
      <p>诗人的创造，哲学家的辩证，探险家的技艺——这就是组成一个伟大科学家的材料。——季米里亚捷夫</p>
    </div>
  </section>
  <section>
    <div class="container">
      <p>带着问题去看书，有利于集中注意力，目的明确，这既是有意学习的要求，也是发现学习的必要条件。心理学家把注意分为无意注意与有意注意两种。有意注意要求预先有自觉的目的，必要时需经过意志努力，主动地对一定的事物发生注意。它表明人的心理活动的主体性和积极性。问题学习法就是强调有意注意有关解决问题的信息，使学习有了明确的指向性，从而提高学习效率。</p>
      <p>问题学习法要求我们看书前，首先去看一下课文后的思考题，一边看书一边思考；同时，它还要求我们在预习时去寻找问题，以便在听课时在老师讲解该问题时集中注意力听讲；最后，在练习时努力地去解决一个个问题，不要被问题吓倒，解决问题的过程就是你进步的过程。</p>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="pre_next">
        <div class="row">
          <div class="pre col-xs-6">
            <a class="pre-a" href="" target="_self"><i class="iconfont">&#xe618;</i>上一篇</a>
            <a class="pre-a" href="" target="_self">多撒多撒多撒多</a>
          </div>
          <div class="next col-xs-6">
            <a class="next-a" href="" target="_self">下一篇<i class="iconfont">&#xe60f;</i></a>
            <a class="next-a" href="" target="_self">多撒多撒多撒多</a>
          </div>
        </div>
      </div>
      <div class="back-index">
        <a href="index.html" target="_self"><i class="iconfont">&#xe618;</i>回到主页</a>
      </div>
    </div>
  </footer>
</div>