<header class="common-width">
  <div class="container clearfix">
    <nav>
      <ul class="hidden-xs p-ul">
        <li><i class="iconfont">&#xe60e;</i>如是学</li>
        <li><i class="iconfont">&#xe634;</i>学习方法</li>
        <li><i class="iconfont">&#xe62a;</i>百科知识</li>
        <li><i class="iconfont">&#xe601;</i>留言板</li>
        <li><i class="iconfont">&#xe685;</i>LET'S DO IT</li>
      </ul>
      <div class="hidden-xs log">
        <div class="not-ok not-logged clearfix">
          <a href="#" class="sign-in">登录</a>
          <a href="#" class="sign-up">注册</a>
        </div>
        <div class="ok logged">
          <span>用户名</span>
          <div>
            <a href="#" class="living-bt"><i class="iconfont">&#xe698;</i>留言</a>
            <a href="#" class="sign-out"><i class="iconfont">&#xe608;</i>退出</a>
          </div>
        </div>
      </div>
      <div class="visible-xs-block m-ul">
        <i class="iconfont m-ul-down">&#xe624;</i>
        <ul class="m-ul">
          <li>如是学</li>
          <li>学习方法</li>
          <li>百科知识</li>
          <li>留言板</li>
          <li>xbdmmzone</li>
          <li class="not-ok sign-in">登录</li>
          <li class="not-ok sign-up">注册</li>
          <li class="ok living-bt">留言</li>
          <li class="ok sign-out">退出</li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<section class="common-width sec-one">
  <img src="../img/bg1.jpg" alt="bg1">
  <div class="bg-h">
    <h1 class="line">如是学</h1>
    <h2>Everybody Can Study</h2>
  </div>
</section>
<section class="common-width sec-two">
  <div class="container">
    <h1 class="line">学习方法</h1>
    <h2>找对方法，事半功倍</h2>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <a href="artical.html?num=0" target="_blank"><img src="../img/sec-2-1.jpg" alt=""></a>
        <a href="artical.html?num=0" target="_blank" >学习方法之联系法</a>
        <p>唯物辩证法认为世界上任何事物都是同周围的事物存在着相互影响、相互制约的关系。科学知识是对客观事物的正确反映，因此，知识之间同样存在着普遍的联系，我们把联系的观点运用到学习当中...</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <a href="artical.html?num=1" target="_blank"><img src="../img/sec-2-2.jpg" alt=""></a>
        <a href="artical.html?num=1" target="_blank" >学习方法之目标法</a>
        <p>掌握目标学习法是美国心理学家布卢姆所倡导的。布卢姆认为只要有最佳的教学，给学生以足够的时间，多数学习者都能取得优良的学习成绩。  教学内容是由许多知识点构成，由点形成线，由线完成相对独立的知识体系...</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <a href="artical.html?num=2" target="_blank"><img src="../img/sec-2-3.jpg" alt=""></a>
        <a href="artical.html?num=2" target="_blank" >学习方法之问题法</a>
        <p>带着问题去看书，有利于集中注意力，目的明确，这既是有意学习的要求，也是发现学习的必要条件。心理学家把注意分为无意注意与有意注意两种。有意注意要求预先有自觉的目的，必要时需经过意志努力...</p>
      </div>
    </div>
  </div>
</section>
<section class="common-width sec-three">
  <img src="../img/sec-3.jpg" alt="sec-3">
  <div class="bg-content">
    <h1 class="line">百科知识</h1>
    <h2>99%的汗水，1%的天赋</h2>
    <div>
      <a href="knowledge.html?num=0" target="_blank">数学公式</a>
      <a href="knowledge.html?num=1" target="_blank">物理定律</a>
    </div>
    <div>
      <a href="knowledge.html?num=2" target="_blank">化学方程</a>
      <a href="knowledge.html?num=3" target="_blank">国学经典</a>
    </div>
  </div>
</section>
<section class="common-width sec-four">
  <div class="container">
    <h1 class="line">留言板</h1>
    <h2>赶紧联系我们吧。和我们一起，激发无限创造力</h2>
    <div class="message-box row">
      <!-- <div class="col-xs-12 col-md-6">
        <div class="message">
          <p class="p-name">用户名</p>
          <p class="p-mes">htdjhgdfjhfgjhgfk听到一个奋斗</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="message">
          <p class="p-name">用户名</p>
          <p class="p-mes">htdjhgdfjhfgjhgfk听到一个奋斗</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="message">
          <p class="p-name">用户名</p>
          <p class="p-mes">htdjhgdfjhfgjhgfk听到一个奋斗</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="message">
          <p class="p-name">用户名</p>
          <p class="p-mes">htdjhgdfjhfgjhgfk听到一个奋斗</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="message">
          <p class="p-name">用户名</p>
          <p class="p-mes">htdjhgdfjhfgjhgfk听到一个奋斗</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="message">
          <p class="p-name">用户名</p>
          <p class="p-mes">htdjhgdfjhfgjhgfk听到一个奋斗</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="message">
          <p class="p-name">用户名</p>
          <p class="p-mes">htdjhgdfjhfgjhgfk听到一个奋斗</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="message">
          <p class="p-name">用户名</p>
          <p class="p-mes">htdjhgdfjhfgjhgfk听到一个奋斗</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="message">
          <p class="p-name">用户名</p>
          <p class="p-mes">htdjhgdfjhfgjhgfk听到一个奋斗</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="message">
          <p class="p-name">用户名</p>
          <p class="p-mes">htdjhgdfjhfgjhgfk听到一个奋斗</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="message">
          <p class="p-name">用户名</p>
          <p class="p-mes">htdjhgdfjhfgjhgfk听到一个奋斗htdjhgdfjhfgjhgfk听到一个奋斗htdjhgdfjhfgjhgfk听到一个奋斗htdjhgdfjhfgjhgfk听到一个奋斗htdjhgdfjhfgjhgfk听到一个奋斗htdjhgdfjhfgjhgfk听到一个奋斗htdjhgdfjhfgjhgfk听到一个奋斗</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="message">
          <p class="p-name">用户名</p>
          <p class="p-mes">htdjhgdfjhfgjhgfk听到一个奋斗</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="message">
          <p class="p-name">用户名</p>
          <p class="p-mes">htdjhgdfjhfgjhgfk听到一个奋斗</p>
        </div>
      </div> -->
    </div>
  </div>
</section>
<section class="common-width sec-five">
  <img src="../img/sec-4.jpg" alt="">
  <div class="let-content">
    <h1 class="line">Let's Do It</h1>
    <h2>我们的教室：xbdmmzone</h2>
  </div>
  <div class="icon">
    <div class="show-code">
      <div class="code weixin"></div>
      <i class="iconfont">&#xe603;</i>
    </div>
    <div class="show-code">
      <div class="code weibo"></div>
      <i class="iconfont">&#xe661;</i>
    </div>
    <div class="show-code">
      <div class="code qq"></div>
      <i class="iconfont">&#xe62d;</i>
    </div>
  </div>
</section>
<footer class="common-width">
  <h5>xbdmmzone</h5>
  <h6>Copyright 2017</h6>
</footer>