<div class="content">
  <header class="common-width">
    <a href="index.html" target="_self"><i class="iconfont">&#xe618;</i>回到主页</a>
    <img src="../img/a1.jpg" alt="">
    <div class="head-m">
      <div class="container">
        <h1>数学公式</h1>
      </div>
    </div>
  </header>
  <header class="common-width">
    <a href="index.html" target="_self"><i class="iconfont">&#xe618;</i>回到主页</a>
    <img src="../img/a2.jpg" alt="">
    <div class="head-m">
      <div class="container">
        <h1>物理定律</h1>
      </div>
    </div>
  </header>
  <header class="common-width">
    <a href="index.html" target="_self"><i class="iconfont">&#xe618;</i>回到主页</a>
    <img src="../img/a3.jpg" alt="">
    <div class="head-m">
      <div class="container">
        <h1>化学方程</h1>
      </div>
    </div>
  </header>
  <header class="common-width">
    <a href="index.html" target="_self"><i class="iconfont">&#xe618;</i>回到主页</a>
    <img src="../img/a3.jpg" alt="">
    <div class="head-m">
      <div class="container">
        <h1>国学经典</h1>
      </div>
    </div>
  </header>
  <section>
    <div class="container">
      <div class="row"></div>
    </div>
  </section>
</div>