<div class="sign-box">
  <div class="mask"></div>
  <div class="box">
    <div class="in">
      <i class="iconfont close">&#xe648;</i>
      <h3>么么哒</h3>
      <h4>给你一个么么哒</h4>
      <div class="input-box">
        <input class="in-name" type="text" placeholder="用户名">
      </div>
      <div class="input-box">
        <input class="in-password" type="text" placeholder="密码">
      </div>
      <div class="bt-box">
        <button id="in-go" type="button">提交</button>
      </div>
      <div class="box-bottom clearfix">
        <a id="forget-p" href="#">忘记密码？</a>
        <a id="to-sign-up" href="#">去注册</a>
      </div>
    </div>
    <div class="up">
      <i class="iconfont close">&#xe648;</i>
      <h3>萌萌哒</h3>
      <h4>给你一个萌萌哒</h4>
      <div class="input-box">
        <input class="up-name" type="text" placeholder="用户名">
      </div>
      <div class="input-box">
        <input class="up-mail" type="text" placeholder="邮箱">
      </div>
      <div class="input-box">
        <input class="up-password" type="text" placeholder="密码">
      </div>
      <div class="bt-box">
        <button id="up-go" type="button">提交</button>
      </div>
      <div class="box-bottom clearfix">
        <a id="to-sign-in" href="#">去登录</a>
      </div>
    </div>
    <div class="living">
      <i class="iconfont close">&#xe648;</i>
      <h3>啪啪啪</h3>
      <h4>给你一顿啪啪啪</h4>
      <div class="input-box">
        <textarea class="living-m" type="text" placeholder="说点什么" rows="10"></textarea>
      </div>
      <div class="bt-box">
        <button id="living-go" type="button">提交</button>
      </div>
    </div>
  </div>
</div>